/* Styles */

#app {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4d4d4d;
    min-width: 550px;
    max-width: 850px;
    margin: 0 auto;
}

a.active {
    color: orange;
}

nav {
    padding-top: 5px;
}

/* Styles for chat */

.limit [class*="col-"]{
  max-height:50rem;
  overflow:scroll;
}


input.chat-window{
  height: 200px;
}

/* Styles for questions */

.ask-question-input {
  margin-top: 5rem;
}

.question-row {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.vote-padding {
    padding-right: 0rem;
    padding-left: 0rem;
}

.vote-row {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.col-center {
    display:block;
    text-align:center
}

.glyphicon {
    font-size: 1.5rem;
    cursor: pointer;
}

.label-group {
    margin-top: 3rem;
}

.label-item {
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.2rem;
}

.border-bottom {
  border-bottom: .05rem solid #e5e5e5;
}

.indent {
  padding-left: 1.8rem;
}

.user-info {
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  font-size: 1.2rem;
  background-color:#E0EAF1;
}

.comment {
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  font-size: 1.2rem;
  border-bottom: .05rem solid #e5e5e5;
}

.add-comment {
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  font-size: 1.2rem;
}

.image-shadow {
  box-shadow: 3px 3px 3px #888888;
}

.glyphicon-triangle-top:active{
  color:#00BFFF
}

.glyphicon-triangle-bottom:active{
  color:red
}

/* Styles from bootstrap narrow-jumbotron.css */
/* TODO comment out style that are not being used */

/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.entry,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 2rem;
  padding-top: 2.4rem;
  border-bottom: .05rem solid #e5e5e5;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h4 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}



/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 85rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
/*.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}*/

/* Supporting marketing content */
.content {
  margin: 3rem 0;
}
.content p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
/*@media screen and (min-width: 48em) {*/
  /* Remove the padding we set earlier */
  /*.header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }*/
  /* Space out the masthead */
  /*.header {
    margin-bottom: 2rem;
  }*/
  /* Remove the bottom border on the jumbotron for visual effect */
  /*.jumbotron {
    border-bottom: 0;
  }
}*/
